<%= render 'superadmin/share/menu' %>
<div class="container">
	<div class="row">
		Nav =>
		<%= link_to 'Back List', superadmin_store_categories_path %>
	</div>
</div>	
<hr>
<div class="container">
	<div class="row">
		<%= bootstrap_form_for [:superadmin, @store_category] do |f| %>
		<%= f.hidden_field :store_id, value: session[:sid] %>
		<%= f.text_field :title %>
		<%= f.text_field :anchor %>
		<%= f.submit 'submit' %>
		<% end %>
	</div>
</div>