<%= render 'superadmin/share/menu' %>
<div class="container">
	<div class="row">
		Nav =>
		<%= link_to 'Back Store', superadmin_store_path(session[:sid]) %><br>
		Action =>
		<%= link_to '新增商品', new_superadmin_store_product_path %> | 
	</div>
</div>	
<hr>
<div class="container">
	<div class="row">
		<table class="table table-hover">
			<tr>
				<td>sid</td>
				<td>餐點名稱</td>
				<td>價格</td>
				<td>描述</td>
			</tr>
			<% @store_products.each do |p| %>
				<tr>
					<td><%= p.store_id %></td>
					<td><%= p.name %></td>
					<td><%= p.price %></td>
					<td><%= p.desc %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>