<%= render 'superadmin/share/menu' %>
<div class="container">
	<div class="row">
		Action =>
		<%= link_to 'Back Menu', superadmin_products_path %>
		<%= link_to 'Back Store', superadmin_store_path(session[:sid]) %>
	</div>
</div>	
<hr>
<div class="container">
	<div class="row">
		<%= bootstrap_form_for [:superadmin, @product] do |f| %>
		<%= f.hidden_field :store_id, value: session[:sid] %>
		<%= f.text_field :name %>
		<%= f.text_field :price %>
		<%= f.text_area :desc %>
		<%= f.submit 'submit' %>
		<% end %>
	</div>
</div>
<%= now_add %>