<%= render 'superadmin/share/menu' %>
<div class="container">
	<div class="row">
		Store nav =>
		<%= link_to '菜單分類', superadmin_store_categories_path %> | 
		<%= link_to '商家菜單', superadmin_store_products_path %> | <br>
		Action =>
		<%= link_to '資訊修改', edit_superadmin_store_path(@store) %> | 
	</div>
</div>	
<hr>
<div class="container">
	<div class="row">
		商家名:<%= @store.name %>
	</div>
</div>
<hr>
<div class="container">
	<div class="row">
	<h4>產品列表</h4>
		<table class="table table-hover">
			<tr>
			  <td>產品名稱</td>
			  <td>價格</td>
			  <td>描述</td>
			</tr>		
			<% @products.each do |p| %>
		  	<tr>
				  <td><%= p.name %></td>
				  <td><%= p.price %></td>
				  <td><%= p.desc %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>