<!DOCTYPE html>
<html>
<head>
  <title>DevEat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= get_menu %>
<hr>

<%= yield %>
<hr>
預設管理員帳號
admin@gmail.com
預設使用者帳號
test@gmail.com
預設商家帳號
store@gmail.com
密碼均為 00000000
</body>	
</html>