<!DOCTYPE html>
<html>
<head>
  <title>DevEat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= get_menu %>
<hr>
<%= link_to '首頁', root_url %> | 
<%= link_to '商家清單', stores_url %> | 
<%= link_to '推薦商家', new_store_path %>
<%= yield %>
<hr>
預設管理員帳號
admin@gmail.com<br>
預設使用者帳號
test@gmail.com<br>
預設商家帳號
store@gmail.com<br>
密碼均為 00000000
</body>	
</html>